<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" id="base-stylesheet" href="{{ url_for('static', filename='css/light.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistique</title>
</head>
<body>
    {% include "header.html" %}

    <h2>Désolé cette page n'existe pas</h2>
    <img src="static/images/404.jpg" alt="404 not found">
</body>
<script src="/static/js/base.js"></script>