<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" id="base-stylesheet" href="{{ url_for('static', filename='css/light.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistique</title>
</head>
<body>
    {% include "header.html" %}
    <div>
        <h2>A propos</h2>
        <p>
           Bienvenue sur ce site ! Celui ci est un site des Statistiques suyr les vaches de la ferme des trois chene. 
        </p>
    </div>
</body>
<script src="/static/js/base.js"></script>