<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" id="base-stylesheet" href="{{ url_for('static', filename='css/theme/light.css') }}">
    <!-- Lib for icons -->
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistique</title>
</head>
<body>
    {% include "components/header.html" %}
    <div align="center">
        <h2>À propos</h2>
        <p>
           Bienvenue sur ce site ! Celui-ci est un site des statistiques sur les vaches de la ferme des trois chênes.
        </p>
    </div>
    {% include "components/footer.html" %}
    
</body>
<script src="/static/js/base.js"></script>