<footer>
      <h2>Contactez-nous</h2>
      <form>
        <input type="text" placeholder="Nom">
        <input type="text" placeholder="E-mail"><br><br>
        <textarea placeholder="Votre message ici..."></textarea>
        <input type="submit" value="Envoyer"><br><br>
      </form>
      <div id="copyrightEtIcons">
        <div id="copyright">
          <span>© fromScratch(); 2021</span>
        </div>
        <div id="icons">
          <a href="http://www.twitter.com"><i class="fa fa-twitter"></i></a>
          <a href="http://www.facebook.com"><i class="fa fa-facebook"></i></a>
          <a href="http://www.instagram.com"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
</footer>