<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" id="base-stylesheet" href="{{ url_for('static', filename='css/theme/light.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components-style/cards.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components-style/filter.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components-style/charts.css') }}">
    <!-- Lib for icons -->
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Statistique</title>
</head>

<body>

    {% include "components/header.html" %}
    
    <section class="cards">
        
    </section>

    {% include "components/filter.html" %}

    <section class="charts-container">
        
    </section>

    {% include "components/footer.html" %}

</body>


<script>
    const graph_data = {{ graph_data | safe }};
</script>
<script src="/static/js/base.js"></script>
<script src="/static/chartjs/Chart.min.js"></script>
<script src="/static/js/index.js"></script>
</html>