<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" id="base-stylesheet" href="{{ url_for('static', filename='css/light.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Statistique</title>
</head>
<body>
    <header>
        <ul class="navbar">
            <li>
                <a href="/"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" id="logo"/></a>
            </li>
            <li>
                <a href="/">Menu</a>
            </li>
            <li>
                <a href="">About</a>
            </li>
            <li>
                <input type="checkbox" onclick="toggleTheme()" id="checkbox-theme">
            </li>
        </ul>
    </header>
    <section>
        <h2>Naissance par cycle lunaire</h2>
        <canvas id="birth-chart-moon-cycle" with="400" height="400"></canvas>
    </section>
</body>
<script src="/static/js/base.js"></script>
<script src="/static/chartjs/Chart.min.js"></script>
<script src="/static/js/index.js"></script>
</html>