.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}


.card {
    display: flex;
    flex-direction: row;
    margin: 10px;
    min-width: 250px;
    max-width: 30vw;
    min-height: 150px;
    max-height: 150px;
    box-shadow: 0 0 2px;
}


.card:hover {
    box-shadow: 0 0 4px;
}


.card img {
    margin: 0;
    object-fit: cover;
    max-width: 40%;
}


.card-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 5px;
}


.card-title {
    font-weight: bold;
}

.card-sub-description {
    margin-top: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media only screen and (max-width: 900px) {
    .card-sub-description {
        -webkit-line-clamp: 2;
    }
} 

@media only screen and (max-width: 500px) {
    .card {
        min-height: 20vh;
    }
} 