:root {
    --chart-width: 90%;
    --chart-height: 40vh;
}


.charts-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.chart-container {
    height: var(--chart-height);
}


.chart {
    width: var(--chart-width);
    
}

.chart-title {
    text-align: center;
}


.chart-description {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

@media only screen and (max-width: 500px) {
    .chart-container {
        height: 40vh;
    }

    .chart {
        width: 90%
    }
}