<section class="cards">
    <a href="#birth-moon-section">
        <section class="card">
            <img class="card-picture" src="/static/images/moon.jpg" alt="moon pictures">
            <div class="card-description">
                <span class="card-title">Figure du cycle lunaire</span>
                <span class="card-sub-description">Un graphique des naissances en fonction du cycle lunaire</span>
            </div>  
        </section>
    </a>

    <a href="#premature-deaths-by-months-section">
        <section class="card">
            <img class="card-picture" src="/static/images/death.jpg" alt="moon pictures">
            <div class="card-description">
                <span class="card-title">Figure des morts prématurés par mois de l'année</span>
                <span class="card-sub-description">Un graphique des morts en fonction des mois de l'année</span>
            </div>  
        </section>
    </a>
</section>