body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    min-width: 100%;
}

footer {
    display: flex;
    border-top: 1px solid gray;
    margin-top: 10px;
    padding: 10px;
    justify-content: center;
}

footer span {
    margin: 10px;
}

footer a {
    margin: 10px;
}



a {
    text-decoration: none;
}

h1 {
    font-size: 1.3em;
    letter-spacing: 1.2;
}

h2 {
    margin: 20px;
}

#logo {
    margin-left: 10px;
    width: 60px;
}

#logo:hover {
    opacity: 0.7;
}

.navbar {
    display: flex;
    align-items: center;
    box-shadow: 0 0 1px;
    width: 100%;

}


.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0
}


.menu li {
    padding-left: 15px;
    padding-right: 15px;
}


.menu li:hover {
    opacity: 0.7;
    cursor: pointer;
}


#hamburger-menu {
    display: none;
}

#label-hamburger {
    display: none;
}





@media only screen and (max-width: 500px) {

    #logo {
        margin: 0;
    }

    #label-hamburger {
        display: flex;
        margin-left: auto;
        margin-right: 20px;
        justify-content: flex-end;
    }

    .navbar {
        flex-direction: column;
        box-shadow: 0 0
    }

    .menu {
        display: none;
    }

    .menu li {
        border-bottom: 1px solid gray;
        margin-bottom: 10px;
        padding: 10px;
    }

    #hamburger-menu:checked + .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 0;
    }


}

