body {
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Courier New';
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 1.3em;
    letter-spacing: 1.2;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    box-shadow: 0 0 1px;
    margin: 0;
    padding: 0
}

.navbar li {
    padding-left: 10px;
    padding-right: 10px
}

.navbar li:first-child {
    margin-right: auto;
}